/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
.login {
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	margin-top: 120px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.filters button {
	border-radius: 20px;
	border-color: #1D6154;
	padding: 10px;
	min-width: 100px;

    font-family: 'Syne';
	font-size:16px;
}

.clicked,
.add-photo {
	color: white;
	border-color: #1D6154;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#login {
	width: 50%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#login h2 {
	margin-left: -30%;
}

#contact form,
#login form,
#modal form,
#add-gallery-photo form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
#add-gallery-photo input,
#add-gallery-photo select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label,
#add-gallery-photo label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#submit {
	margin-left: 20%;
}

#email,
#password {
	width: 400px;
}

.forgot-password {
	text-align: center;
	font-family: 'Syne';
	color: #1D6154;
	margin-left: -30%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.error-msg {
	color: red;
	font-family: 'Work Sans';
	font-size: 15px;
	margin-top: 20px;
	margin-left: 80px;
}

.edit-header {
	display: flex;
	justify-content: center;
	gap: 20px;
	background-color: black;
	color: white;
	margin-top: 10px;
	padding-top: 20px;
	min-height: 40px;
	font-size: 16px;
}

.works-title {
	position: relative;
	text-align: center;
}

.works-title h2 {
	text-align: center;
}

.edit-div {
	position: absolute;
	right: 360px;
	top: 50%;
	transform: translateY(-40%);
}

.btn-edit {
	font-size: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
	border: none;
	background: none;
	cursor: default;
}

.icon-edit {
	margin-left: auto;
	font-size: 18px;
	color: black;
}

.extra-margin-bottom {
	margin-bottom: 80px;;
}

/** Modal **/
.modal-overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

/* Show the modal */
.modal-overlay.show {
	display: block;
}

/* The modal box */
.modal-box {
	background-color: white;
	width: 90%;
	max-width: 700px;
	margin: 200px auto;
	padding: 20px;
	border-radius: 10px;
	position: relative;
}

/* close button */
.modal-close {
	position: absolute;
	right: 12px;
	top: 8px;
	font-size: 24px;
	border: none;
	background: none;
	cursor: pointer;
}

/* left arrow */
.back-to-gallery {
	position: absolute;
	left: 12px;
	top: 8px;
	font-size: 24px;
	border: none;
	background: none;
	cursor: pointer;
}

.hidden {
	display: none;
}

.btn-add-photo,
.btn-confirm,
.btn-choose-photo {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.modal-heading {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 19px;
	color: black;
}

.btn-container {
	display: flex;
	justify-content: center;
	height: 100px;
}

#modal h2 {
	text-align: center;
	color: black;
	margin-bottom: 40px;
	margin-top: 40px;
}

.delete-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 30px 5px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 80px;
}

.thumbnail-container {
	position: relative;
	display: block;
	width: 100px;
}

.thumbnail-container img {
	width: 100%;
	height: 100%;
}

.delete-btn {
	background-color: black;
	position: absolute;
	top: 5px;
	right: 5px;
}

.fa-trash-can {
	color: white;
}

.choose-photo {
	position: relative;
	height: 240px;
	width: 100%;
	
	background-color: #E8F1F7;
	border-radius: 3px;

	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	cursor: pointer;
}

/* image position in add photo */
.choose-photo .fa-image {
	position: absolute;
	font-size: 7em;
	left: 200px;
	top: 20px;
	color: #999;
	background: #E8F1F7;
	opacity: 0.5;
}

/* input to choose photo */
.add-photo-input-position {
	opacity: 0.5;
	position: absolute;
	top: 95px;
	left: 60px;
	color: black !important;
	background: #999 !important;
	font-weight: 100;
	font-family: 'Work Sans' !important;
	font-style: normal !important;
}

/* figcaption position */
#add-gallery-photo figcaption {
	position: absolute;
	top: 195px;
	left: 180px;
}

#category-select {
	margin-bottom: 30px;
}

/* Custom "grayed out" style */
.btn-confirm:disabled {
  background-color: #cccccc; /* Light gray background */
  color: #666666;           /* Darker gray text for contrast */
  opacity: 0.6;             /* Semi-transparent look */
  cursor: not-allowed;      /* Change cursor to a circle with a slash */
  filter: grayscale(100%);  /* Removes all color */
}

#add-gallery-photo {
	margin-left: 100px;
	margin-right: 100px;
}

#add-gallery-photo hr {
  width: 100%;
  margin: 20px 0;
}